body{
    background-color: #010a1a;
    color: #bdbdbd;
    font-family: 'Roboto Mono', monospace;
}

button{
    background-color: #010a1a;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .15rem;
    width: 90%;
    margin: 0.5rem;
}

.card{
    height: 100%;
    width: 100%;
}

.card-content{
    min-height: 50%;
    width: 100%;
}

.card-footer {
    width: 100%;
    min-height: 50%;
}

#content{
    font-size: 200px;
}

#button-container, #content{
    text-align: center;
}

#start{
    color: #15b004;
    border: 1px solid #15b004;
}

#start:hover{
    background-color: #15b004;
    color: #010a1a;;
}

#end{
    color: #c40202;
    border: 1px solid #c40202;
    width: 40%;
}

#end:hover{
    background-color: #c40202;
    color: #010a1a;;
}

#pause{
    color: #0541e8;
    border: 1px solid #0541e8;
    width: 40%;
}

#pause:hover{
    background-color: #0541e8;
    color: #010a1a;;
}

#resume{
    color: #e89105;
    border: 1px solid #e89105;
    width: 40%;
}

#resume:hover{
    background-color: #e89105;
    color: #010a1a;;
}